/**
 * v402-web-ts React Components - Compiled Styles
 * 
 * This file includes Tailwind CSS utilities used by the components.
 * Import this file when using v402 React components:
 * 
 * import '@voyage_ai/v402-web-ts/react/styles.css'
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

